# Node modules
/node_modules
.env*
# Compilation output
/dist
/out/

# production
/build
# misc
.DS_Store
*.pem

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage
